#red{
  height: 100px;
  width: 100px;
  background-color: #ff0000;
  margin: 10px 10px 10px 10px;
}

#grey{
  height: 100px;
  width: 100px;
  background-color: #8c8c8c;
  margin: 10px 10px 10px 10px;
}

.inline{
  float: left;
}
