#firebrick{
  height: 50px;
  width: 50px;
  background-color: rgb(120,0,0);
  margin: 1px 1px 1px 1px;
  float: left;
}

.grey{
  height: 50px;
  width: 50px;
  background-color: rgb(140,140,140);
  margin: 1px 1px 1px 1px;
  float: left;
}

.block:hover{
  cursor: pointer;
}

#holder{
  width: 0px;
  height: 0px;
  border: 1px solid black;
}

.hide{
  display: none;
}
