#red{
  height: 50px;
  width: 50px;
  background-color: red;
  margin: 1px 1px 1px 1px;
  float: left;
}

#grey{
  height: 50px;
  width: 50px;
  background-color: #8c8c8c;
  margin: 1px 1px 1px 1px;
  float: left;
}

#holder{
  width: 0px;
  height: 0px;
  /*border: 1px solid black;*/
}
